@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
/*
	400 - Regular
	600 - Semi-Bold
	700 - Bold	
*/

*,*:before, *:after{
	box-sizing: :border-box;
	position: relative;
}

html, body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	overflow: auto;
} 
@media (max-width: 640px){
	body{
		overflow: hidden;
	}
}

#inicio{
	width: 100%;
	min-height: 100vh;
	background: url(Assets/vovo.jpg) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media (max-width:640px){
	#inicio{
		display: flex;
		background-position-x: -200px;
	}
}

#inicio nav{
	z-index: 1;
	position: fixed;
	top:0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width:640px){
	#inicio nav{
		align-self: center;
	}
}
#inicio nav ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
}
#inicio nav ul a{
	text-decoration:none;
	margin: 0 2%;
}
@media (max-width: 640px){
	#inicio nav ul a{
		margin: 0 1%; 
	}
}
#inicio nav ul a li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size:0.94em;
	font-style: normal;
	color: #000;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0em;
	background: #fff;
	padding: 4px 20px;
	border-radius: 20px;
	border: solid 1px #808080;
}
@media (max-width: 640px){
	#inicio nav ul a li{
		padding: 10px 15px;
	}
}
#inicio div{
	width: 17%;
	height: auto;
	border-radius: 15px;
	opacity: 0%;
	margin: 0px;
	border: solid #fff 1px;
	align-self: flex-end;
	margin-bottom:4% ;
	margin-right: 18% ;

}
@media (max-width: 640px){
	#inicio div{
		width: 75%;
		background: #fff;
		margin: 0;
		margin-bottom: 12%;
		align-self: center;
	}
}
#inicio div p{
	margin:18px;
	margin-top: 7px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size:1.25em;
	font-style: normal;
	color: #fff;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
@media (max-width: 640px){
#inicio div p{
	color: #656565;
}
}
.logo{
	width: 25%;
	margin-left: 8%;
	margin-right: 100%;
}
@media(max-width: 640px){
	.logo{
		width: 73%;
		margin: 0;
		margin-top: 50px;
	}
}
main{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: row wrap;
}
section{
	width: 50%;
}
@media(max-width: 640px){
	section{
		width: 100%;
	}
}
section .logo{
	width: 50%;
	margin-left: 16%;
}
main #sobre{
	margin:0;
}
@media(max-width: 640px){
	main #sobre{
		width: 100%;
		min-height: 100vh;
	}

}
@media(max-width: 640px){
	main #sobre .logo{
		display: none;
	}
}
main #sobre h2{
	margin-left: 20%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-family:; 
	font-size:1.88em;
	font-style: normal;
	color: #1f4ecc;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
@media(max-width: 640px){
	main #sobre h2{
		margin-left: 13%;
		margin-top: 23%;
	}
}
main #sobre p{
	margin: 0% 27% 5% 20%;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size:1.25em;
	color: #656565;
	font-style: normal;
	line-height: 1.07em;
	letter-spacing: 0em;
}
@media(max-width: 640px){
	main #sobre p{
		margin: 13%;
		margin-bottom: 20%;
	}
}

main #acoes{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	background: #1f4ecc;
}
@media(max-width: 640px){
	main #acoes{
		flex-direction: column;
		align-items: center;
		width: 100%;
		min-height: 100vh;
	}
}
main #acoes h2{
	width: 80%;
	margin-top: 150px;
	margin-left: 2%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size:1.88em;
	color: #faeb03;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
@media(max-width: 640px){
	main #acoes h2{
		margin-top: 40px;
	}
}

main #acoes div{
	margin: 0 2%;
	width: 23%;

	/*background: red;*/
}
@media(max-width: 640px){
	main #acoes div{
		width: 80%;
		margin-left: 
	}
}
main #acoes div h3{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600; 
	font-size:1.56em;
	font-style: normal;
	color: #fff;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
main #acoes div p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400; 
	font-size:0.88em;
	color: #fff;
	font-style: normal;
	line-height: 1.5em;
	letter-spacing: 0em;
}
/*main #video{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	background:#fff;	
}*/
footer{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: row wrap;
}
@media(max-width: 640px){

}

footer section {
	width: 50%;
}
@media(max-width: 640px){
	footer section{
		width: 100%;
	}
}

footer #contato {
	background: #f6e903;
}

footer img{
	width:50%; 
}
footer #contato .divlogo2{
	display: none;
	margin: 0;
}
@media(max-width: 640px){
footer #contato .logo{
 		display: none;
 	}
	footer #contato .divlogo2{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
 
	footer #contato .logo2{
		margin-left: 15%;
		margin: 0;
	}
}
footer #contato h2{
	margin-left: 20%;
	margin-top: 10%;
	margin-bottom: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-family:; 
	font-size:1.88em;
	font-style: normal;
	color: #1f4ecc;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
@media(max-width: 640px){
	footer #contato h2{
		margin-left: 14%;
		margin-top: 20%;
	}
}
footer #contato p{
	width: 35%;
	margin-left: 17%;
	margin-top: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size:1.25em;
	color: #1f4ecc;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
@media (max-width: 640px){
	footer #contato p{
		width: 63%;
		margin-left: 14%;
	}
}
footer #contato div{
	width: 40%;
	margin: 0;
	margin-left: 20%;
	display: flex;
	justify-content: center;
	align-content: center;
}
@media(max-width: 640px){
	footer #contato div{
		margin: 0;
		margin-bottom: 7%;
		margin-left: 14%;
		width: auto;
		align-items: center;
	}
}


footer #contato div img{
	width: 60%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}
@media(max-width: 640px){
	footer #contato div img{
		width: 60%;
	}

}

footer .sec-video{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}
footer .sec-video h3{
	width: 88%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size:1.60em;
	color: #1f4ecc;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;

}
footer .sec-video video{
	width: 88%;
}
@media(max-width: 640px){
	footer .sec-video{
		display: none;
	}
}